<h2 class="text-center"><small>Previously run commands</small></h2>
<hr />
<div id="commands" class="text-center">
    <div>
        <%= @command.uuid %><br />
        <%= @command.name %>---<%= @command.status %>
        <hr />
        <%= @command.stdout %>

      </a>
    </div>
</div>
